.my-products-house {
    /* border: 1px solid yellow; */
    margin: 20px 0;
}

.my-products-house>h1 {
    color: whitesmoke;
    margin-bottom: 20px;
    margin-left: 100px;
}

.side-bar-buttons {
    /* border: 1px solid purple; */
    display: flex;
    flex-direction: column;
    width: 9%;
    position: absolute;
    top: 215px;
    left: 6px;
}


.side-bar-buttons>button {
    margin: 10px 0;
    padding: 10px;
    overflow: break-word;
}

.product-house * {
    background-color: transparent;
}

.product-house {
    /* border: 1px solid orange; */
    width: 400px;
    height: 650px;
    cursor: pointer;
}

.product-house:hover {
    border: transparent;
    background-color: #2F2E30;
    box-shadow: 3px 3px 3px black;
    border-radius: 7px;
    transition: all .4s ease
}

.product-house>p {
    font-weight: 200;
    font-size: 16px
}

.product-buttons-house {
    /* border: 1px dashed blue; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    row-gap: 2px;
    width: 10%;
}

.my-product-top-bar>h3 {
    color: #d4bebe;
    font-size: 25px;
    font-weight: bold;
}

.my-product-top-bar {
    /* border: 1px solid coral; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.s-house>button {
    width: -webkit-fill-available;
}

.all-products-house {
    /* border: 1px solid lightblue; */
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 20px;
    justify-content: center;
}

.my-product-image {
    /* border: 1px solid blue; */
    height: 380px;
}

.my-product-image>img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    object-fit: cover;
    margin: 10px;
    border-radius: 7px;
}

.my-product-description {
    /* border: 1px solid blue; */
    height: 100px;
    overflow-wrap: break-word;
}

.my-product-description>p {
    font-weight: 200;
    font-size: 18px;
}

.product-house>.my-product-price {
    font-size: 25px;
    font-weight: bold;
}


.my-product-price {
    margin-top: 30px;
}

#my-m-logo {
    width: 300px;
    height: 75px;
    margin-left: 25px;
    margin-top: 15px;
}

.create-button>button {
    border: 1px solid red;
    width: fit-content;
    color: rgb(212, 190, 190);
    margin-left: 30px;
    border: none;
    border-radius: 4px;
    padding: 10px;
}

.create-button>button:hover {
    border: none;
    width: fit-content;
    background-color: #2F2E30
}

.my-prod-name {
    color: #d4bebe;
}


.my-product-delete {
    /* border: 1px solid red; */
    width: 90%;
    margin-top: 30vh;
    padding-left: 10px;
    border-radius: 10px;
}

.my-product-delete>button {
    padding: 5px 5px;
    margin: 5px 0px;
    box-shadow: 1px 2px 2px;
    color: #d4bebe;
    /* border: 1px solid red; */
    margin: 6px 3px;
    border-radius: 5px;
}

.my-product-delete>button:hover {
    box-shadow: 1px 1px 2px #d4bebe;
    transition: all 0.3 ease 0s;
}

.my-product-delete>h1 {
    margin-bottom: 20px;
}
