  .product-page-container {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
  }

  .all-products-detail {
    /* border: 2px solid orange; */
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 10px;
    margin-left: 25px;
  }

.product-preview-tile-house {
  cursor: pointer;
  width: 300px;
}

  .product-tile {
    background-color: #151616;
    padding: 5px;
  }

  .product-tile:hover {
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
    transition: all .4s ease;
    background-color: #2F2E30;
  }

  .product-tile > p,
  .product-tile > span {
    font-weight: 200;
    font-size: 14px;
  }

  .pr-image > img{
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    object-fit: cover;
    border-radius: 10px;
  }

  .pr-image {
    height: 300px;
    width: -webkit-fill-available;
    margin-bottom: 10px;
  }

  .product-tile > .inner-prod {
    background-color: transparent;
    margin-left: 10px;
  }

  .inner-prod > a {
    background-color: transparent;
    text-decoration: none;
  }

  .inner-prod > a:hover {
    /* background-color: #151616; */
    text-decoration: none;
    color: white;
  }

.trouble-makers {
  display: flex;
  flex-direction: column;
}

.product-view {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
}

#owner {
  margin-bottom: 5px;
}

#sb-img {
  border-radius: 10px;
  margin-top: 5px;
}

#sb-img:hover {
  box-shadow: 5px 5px 5px grey
}

.sb-img-room {
  background-color: #2F2E30
}

.product-state, .product-city {
  background-color: transparent;
  font-weight: 200;
  font-size: 17px;
}

.product-description {
  font-weight: 200;
  font-size: 18px;
  background-color: #2F2E30
}

.product-description > p {
  margin-left: auto;
}

.product-details > .product-price {
  font-weight: bold;
  font-size: 20px;
}

.product-detail-sidebar-panel {
  border-left: solid black 0px;
  /* background-color: lightcoral; */
  flex: 0 0 fit-content;
  -webkit-box-shadow: -5px 1px 4px 1px rgba(0, 0, 0, 0.45);
  box-shadow: -5px 1px 4px 1px rgba(0, 0, 0, 0.45);
}

.product-side-panel-toggle {
  /*border: solid black 1px;*/
  border-right-width: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  -webkit-box-shadow: -5px 1px 4px 1px rgba(0, 0, 0, 0.45);
  box-shadow: -5px 1px 4px 1px rgba(0, 0, 0, 0.45);
  background-color: rgb(212, 190, 190);
  color:black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 45px;
  position: fixed;
  top: 100px;
}

  .product-detail-sidebar-toggle-house {
    overflow: visible;
    position: relative;
    left: -20px;
    top: 10px;
    width: 0;
    height: 0;
    z-index: 50;
    cursor: pointer;
  }

  .product-details {
    padding: 10px;
    width: 500px;
    overflow: scroll;
    position: sticky;
    top: 90px;
    color: rgb(212, 190, 190);
    background-color: #2F2E30
  }

  .product-details > p {
    margin-left: auto;
    font-weight: 200;
    font-size: 17px;
  }

  .product-details > p > a {
    text-decoration: none;
    font-weight: 200;
    font-size: 17px;
    background-color: #2F2E30
  }

.product-info {
  font-weight: bold;
  background-color: #2F2E30
}

.product-price {
  font-weight: bold;
  font-size: x-large;
}

 button {
    color: whitesmoke
  }

  .marketplace-and-button {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  #mplace-logo {
    height: 75px;
    width: 300px;
    margin-left: 25px;
  }

  /* .marketplace-and-button > button {
    width: fit-content;
    color: rgb(212, 190, 190);
    margin-left: 30px;
    border: none;
    border-radius: 4px;
    padding: 10px;
  }

  .marketplace-and-button > button:hover {
    background-color:#2F2E30;
    border-radius: 4px;
  } */

  .mp-btn-container {
    display: flex;
    justify-content: flex-end;
    background-color: #2F2E30;
  }

  .mp-btn {
    width: fit-content;
    color: rgb(212, 190, 190);
    background-color: #2F2E30;
    border: none;
    border-radius: 4px;
    padding: 10px;
  }

  .mp-btn:hover{
    background-color:#151616
  }
