#root {
  display: flex;
  flex-direction: column;
}

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #484a4d;
  ;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0px;
  background-color: #151616;
  z-index: 20;
  /* border: 1px red solid; */

}

#fearfaceimage {
  background-color: #2F2E30;
  border-radius: 150px;
  height: 60px;
  width: 100%;
  cursor: pointer;
  /* filter: blur(1em); */
  /* transform: translateY(0%) scale(1, 1); */
  background: hsl(3, 61%, 36%);
  /* z-index: 20; */
  -box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
  box-shadow: 2px 2px 20px rgb(223, 55, 17);

}

.topright-nav {
  display: flex;
  align-items: center;
}


.logo-and-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

#store-button {
  margin-right: 10px;
  padding: 8px;
  border-radius: 20px;
}

#store-button:hover {
  -box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 3s linear infinite;
  box-shadow: 2px 2px 20px rgb(255, 255, 255);

}

.user-menu {
  position: absolute;
  /* top: 54px;
  right: 0px; */
  /* border: 1px solid red; */
  width: 160px;
  transform: translateX(-15%);
  background-color: white;
  border: 1px solid rgb(199, 192, 192);
  box-shadow: 1px 1px 2px grey;
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.user-menu-content {
  /* border: 1px solid red; */
  display: flex;
  flex-flow: column;
  align-items: center;
  grid-gap: 5px;
  gap: 5px;
  font-size: 90%;
  text-align: center;
  position: relative;
  right: 43px;
  top: 111px;
  width: 130px;
}


.user-menu-content>span {
  /* border: 1px solid blue; */
  border-radius: 5px;
  width: 100%;
  margin: 1px 0px;
  cursor: pointer;
  padding: 6px 0px;
}

.user-menu-content>span:hover {
  box-shadow: 1px 1px 2px rgb(74, 72, 72);
  transition: all .4s ease;
}

.logout-button {
  background: transparent;
  cursor: pointer;
  /* background-color: white; */
  /* border: 1px solid rgb(199, 192, 192); */
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  transition: all 0.3 ease 0s;
  width: 100%;
  text-align: center;
}

.logout-button:hover {
  box-shadow: 1px 1px 2px rgb(74, 72, 72);
  transition: all .4s ease;
}

.topright-nav>button>i {
  font-size: 20px;
}

#profile-icon {
  /* border: 1px red solid; */
  margin-right: 10px;
  padding: 5px 5px;
  border-radius: 20px;
}

#profile-icon:hover {
  -box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 3s linear infinite;
  box-shadow: 2px 2px 20px rgb(236, 56, 56);

}
