.p-page-comments>button {
    color: whitesmoke
}

#user-profile-h1 {
    color: whitesmoke
}

/* #user-name {
    color: red
} */

.profile-house {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-intro-house {
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.intro-house-button {
    border: 1px solid blue;
    margin-left: 20px;
}

.intro-house-button > button {
    padding: 5px;
    border-style: none;
}

.intro-house-text {
    /* border: 1px solid orange; */
    color: whitesmoke;
    margin: 10px 0;
}

.my-profile-side-bar {
    /* border: 1px solid red; */
    position: absolute;
    top: 200px;
    left: 18px;
}

.marketplace-button {
    margin-top: 65px;
}

.marketplace-button > button {
    padding: 8px;
}

.user-following-house > h3 {
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.following-house-user-link {
    border: 1px solid purple;
    /* style: none; */
    padding: 5px;
    margin: 20px 0;
}

form > .new-post-house {
    width: stretch;
}

.profile-content-house {
    /* border: 1px solid lightblue; */
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#profile-form {
    /* border: 2px solid pink; */
    width: 75%;
}

/* #root {
    position: absolute;
} */
