.signup-house {
    border-radius: 20px;
    /* border: 1px solid #e853622c; */
    /* box-shadow: 2px 2px 7px #e853622c; */
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
    padding: 50px 100px;
    /* background-color: #e853621c; */
}

.choose-avatar {
    margin: 10px 0px 20px 0px;
}

.avatar-pics {
    margin: 10px 0px;
}

.avatar-pics > label > img {
    cursor: pointer;
    border: 3px solid black;
    margin-right: 5px;
}

.avatar-pics > label > img:hover {
    box-shadow: 3px 3px 8px black;
    border: 3px solid white;
}

.avatar-pics > input[type='radio']:checked+label > img {
    border: 3px solid white;
}

/* input[type="radio"]:checked+label */

/* .radio-toolbar input[type="radio"]:checked+label {
    background-color: #bbb;
  } */

/* .avatar-pics > label > .selected {
    border: 3px solid white;
} */

/* .avatar-pics > label > img:focus {
    border: 3px solid white;
} */

.signup-house > form {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
}


.signup-house > form > label {
    /* border: 3px dotted orange; */
    margin-bottom: 15px;
    color: #B00B1B;
}

.signup-house > p {
    /* border: 2px solid pink;  */
    margin-top: 10px;
    font-size: 14px;
    color: #B00B1B;
    background-color: #151616;
    border-radius: 2px;
}

.signup-house > form > button {
    margin-top: 22px;
    padding: 8px;
    font-size: 15px;
    background-color: #e8536246;
    color: #63242A;
    border: 1px solid #63242A;
    border-radius: 5px;
}

.signup-house > form > button:hover {
    cursor: pointer;
    background-color: #e8536257;
    /* font-weight: bold; */
}

.signup-house > h1 {
    margin: 0;
    margin-bottom: 8px;
    color: #63242A;
    /* outline: black; */
}

.signup-house > form > label > input {
    /* border: 1px solid green; */
    width: 100%;
    padding: 5px;
    border: 1px solid #63242A;
    height: 20px;
    border-radius: 5px;

}

.signup-house > form > label > input:focus {
    outline: none;
}

.signup-house > p > a:hover {
    font-weight: bold;
}

.signup-house > p > a {
    font-size: 15px;
    color: #B00B1B;
}

#root {
    display: flex;
    justify-content: center;
}
