.post-modal-house {
    border: 1px;
    width: 85vh;
    /* height: -webkit-fill-available; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #2F2E30;
}

.new-post-house>textarea {
    resize: none;
}

/* #root {
    position: relative;
} */

#update-comment-textarea {
    /* border: 1px solid red; */
    display: flex;
    position: relative;
    width: 100%;

}

#comment-area {
    width: 100%;
    background-color: #2F2E30;
}

#comment-area>textarea {
    width: 500px;
    border-radius: 5px;
    resize: none;
}

.detail-image-house {
    /* border: 1px solid purple; */
    height: 400px;
    width: 90%;
    display: flex;
    justify-content: center;
    background-color: pink;
    background-color: #151515;
}

.detail-image-house>img {
    object-fit: cover;
    width: 80%;
    /* border: 2px solid blue; */
    height: inherit;
}

/* .detail-image-house > img {
    width: 80%;

}
/* #update-comment-textarea>textarea {
    border: 1px solid blue;
    width: 100px;
} */


#comment-button {
    position: absolute;
    left: 93%;
    top: 65%;
    border-radius: 5px;

}

#comment-button>button {
    padding: 0px 10px;
    border-radius: 5px;
    background-color: transparent;
    border-style: none;
}

#comment-button>button:hover {
    color: red;
    border-style: none;
    box-shadow: none;
}

#modal-content {
    /* order: 1px solid blue; */
    border-radius: 20px;
    position: absolute;
    background-color: transparent;
    overflow-y: auto;
    top: 100px;
    /* width: -webkit-fill-available; */
    height: -webkit-fill-available;
}

#modal-content>button {
    padding: 5px 5px;
    margin: 5px 0px;
    box-shadow: 1px 2px 2px;
    color: #d4bebe;
    /* border: 1px solid red; */
    margin: 6px 3px;
}

#delete-post-yes {
    border-radius: 5px;
}

#delete-post-no {
    border-radius: 5px;
}

#delete-post-yes:hover {
    box-shadow: 1px 1px 2px #d4bebe;
    transition: all 0.3 ease 0s;
}

#delete-post-no:hover {
    box-shadow: 1px 1px 2px #d4bebe;
    transition: all 0.3 ease 0s;
}

.update-post-modal-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid purple; */
    width: 500px;
}

.update-post-modal-container>h1 {
    margin-top: 10px;
    margin-left: 7px;
}


.update-post-content {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    gap: 7px;

}

.update-post-modal-form {
    border: 1px solid transparent;
    margin-left: 7px;
}


#update-label {
    /* border: 1px solid blue; */
    margin-top: 5px;
}


#update-textarea>textarea {
    width: 100%;

}

#update-modal-button {
    padding: 5px 5px;
    margin: 5px 0px;
    box-shadow: 1px 2px 2px;
    color: #d4bebe;

}

#update-modal-button:hover {
    box-shadow: 1px 1px 2px #d4bebe;
    transition: all 0.3 ease 0s;
}

.modal-button {
    background: transparent;
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    border-radius: 3px;
    padding: 2px 5px;
    align-items: center;
    color: #d4bebe;
    text-align: center;
    background-color: transparent;
    /* margin-right: 5px; */

}

.fa-skull-crossbones {
    /* border: 1px solid red; */
    margin-left: 5px;
    background-color: transparent;
}

.modal-button:hover {
    background-color: rgb(68, 67, 67);
    border-radius: 5px;
    box-shadow: none;
}





.post-modal-top-bar {
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: -webkit-fill-available;
    width: 100%;
    background-color: #2F2E30;

}

.post-modal-text-house {
    /* border: 1px solid orange; */
    margin: 10px;
    padding: 30px 10px;
    overflow-wrap: break-word;
    width: 100%;
    border-bottom: 0.5px solid rgb(212, 190, 190);
    border-top: 0.5px solid rgb(212, 190, 190);
    background-color: #2F2E30;
}

/* .post-modal-text-house > p {
    overflow-y: auto;

} */

#comment-name-delete {
    display: flex;
    justify-content: space-between;
    background-color: #2F2E30;
}

.post-modal-comment-house {
    /* border: 1px solid pink; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    width: 75%;
    /* margin: 0 20px; */
    /* margin-bottom: 5px; */
    padding: 10px;
    background-color: #2F2E30;
    margin-left: 87px;
}



.comment-box {
    /* border: 1px solid green; */
    width: 100%;
    background-color: #2F2E30;
}

.modal-comment-top-bar {
    /* border: 1px solid blue; */
    font-size: 14px;
    background-color: #2F2E30;
    display: flex;
    align-items: center;
    gap: 8px;
}

.modal-comment-top-bar>a {
    text-decoration: none;
    background-color: #2F2E30;
}

.modal-comment-top-bar>a:hover {
    color: white;
}

.modal-comment-top-bar > img {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    object-fit: cover;
    /* border: 2px solid black */
}

.modal-comment-text-house {
    border: 1px solid transparent;
    margin: 10px;
    padding: 0 10px;
    font-size: 13px;
    overflow-wrap: break-word;
    border-radius: 10px;
    background-color: rgb(68, 67, 67);
}

.post-modal-menu-buttons {
    background-color: #2F2E30;
}

.post-modal-menu-buttons>i {
    background-color: transparent;
}
