@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #151616;
    font-family: 'Roboto', sans-serif;
    /* color: rgb(212, 190, 190); */
}



.lp-friends {
    /* border: 1px solid red; */
    display:flex;
    /* align-items: center; */
    flex-direction: column;
    width: 15%;
    gap: 10px;

}

#friend-name {
    text-decoration: none;
    color: #d4bebe;
}

#friend-name:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}


.lp-posts {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    align-items: center;
    /* border: 1px solid yellow; */
    width: 70%;
    margin-left: 50px;
    /* width: fit-content; */
}

button {
    cursor: pointer;
}

/* button:hover{
    box-shadow: 2px 2px 2px rgb(12, 11, 11)
} */

.landing-house {
    /* border: 1px solid red; */
    margin-top: 20px;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    gap: 60px;
    /* justify-content: space-around; */
    /* margin: 20px; */
    color: rgb(212, 190, 190);
}

.new-post-house {
    /* border: 2px solid rgb(71, 70, 70); */
    /* border: 1px solid pink; */
    background-color: #2F2E30;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 70px;
    width: fit-content;
    align-items: center;
    margin-bottom: 30px;

}

.new-post-house>button {
    /* color: white; */
    width: 25%;
    padding: 10px;
    font-size: 17px;
    /* border-style: none; */
    border-radius: 5px;
}

.offbtn {
    cursor: not-allowed;
    border-style: none;
    background-color: #464646;
    color: #797373
}

.onbtn {
    color: rgb(0, 0, 0);
    border: 1px solid black;
    color: #d4bebe;
    background-color: rgb(80, 76, 76);
    font-weight: bolder;
}

.new-post-house>h2 {
    margin: 0;
    background-color: #2F2E30;
    font-family: 'Nosifer', cursive;
    font-size: 20px;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 1px rgb(146, 40, 40)
}

.new-post-house>textarea {
    margin-bottom: 20px;
    /* border: 3px solid blue; */
    height: 100px;
    width: -webkit-fill-available;
}

#lp-form {
    width: 100%;
}

.post-house {

    /* border: 1px solid rgb(0, 0, 0); */
    /* border: 1px solid blue; */
    background-color: #2F2E30;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.post-top-bar {
    background-color: #2F2E30;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}


.user-name > a{
    color: #d4bebe;
    text-decoration: none;
    background-color: transparent;
}
.user-name > a:hover{
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.user-name,
span {
    background-color: #2F2E30;
}

.post-text-house {
    padding: 15px 15px;
    height: auto;
    border-radius: 5px;
    overflow-wrap: break-word;
}

.post-text-house,
p {
    background-color: #3e3d3f;
    margin: 10px;
    /* padding: 0 50px; */
}

.post-comment-house {
    /* border: 1px solid pink; */
    width: 85%;
    margin: 0 20px;
    margin-bottom: 5px;
    padding: 10px;
}

.comment-count {
    background-color: #2F2E30;
}

.comment-count>button {
    background-color: #2F2E30;
    color: rgb(212, 190, 190);
}

.comment-top-bar {
    /* border: 1px solid blue; */
    font-size: 14px;
}

.comment-text-house {
    /* border: 1px solid orange; */
    margin: 10px;
    padding: 0 10px;
    font-size: 13px;
}

.post-menu-buttons>button {
    color: rgb(212, 190, 190);
}

.logo-container {
    display: flex;
    box-shadow: 5px 5px 10px black;
    border-radius: 150px;
}



.lp-comments>button {
    background-color: transparent;
    border-style: none;
    color: rgb(212, 190, 190);
    padding: 10px;
}

.lp-comments>button:hover {
    background-color: rgb(68, 67, 67);
    border-radius: 5px;
}

.lp-comments {
    background-color: #2F2E30;
}

#make-post {
    height: 80px;
    background-color: #2F2E30;
}

.frame-container {
    display: flex;
    align-items: center;
    position: absolute;
    /* border: 5px solid red; */
    top: 150px;
}

.giphy-embed {
    height: 450px;
    width: 600px;
    z-index: 200;
    position: fixed;
    top: 275px;
    left: 568px;
}

.giphy-embed:hover {
    pointer-events: none;
}

#wrong {
    color: white;
    /* margin-top: 120px; */
}

#tv {
    top: 200px;
    left: 500px;
    height: 600px;
    border-radius: 10px;
    position: fixed;
}

iframe {
    border-radius: 60px;
}

.post-modal-menu-buttons>button {
    color: whitesmoke
}




@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
    --glow-color: hsl(3, 91%, 62%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


.glowing-btn {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    font-weight: 900;
    /* letter-spacing: 1em; */


    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
}

.glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
    width: 100%;
    text-align: center;
}

/* .glowing-txt:hover {
    color: rgb(244, 224, 224)
} */

.faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    /* transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color); */
}

.glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
}

.glowing-btn:hover {
    /* color: rgba(0, 0, 0, 0.8); */
    color: rgb(255, 255, 255);
    text-shadow: none;
    animation: none;
}

.glowing-btn:hover .glowing-txt {
    animation: none;
}

.glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
}

.glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
}

.glowing-btn:hover:after {
    opacity: 1;
}

@keyframes faulty-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 0.1;
    }

    4% {
        opacity: 0.5;
    }

    19% {
        opacity: 0.5;
    }

    21% {
        opacity: 0.1;
    }

    23% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    83% {
        opacity: 0.4;
    }

    87% {
        opacity: 1;
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    8% {
        opacity: 0.1;
    }

    9% {
        opacity: 1;
    }

    12% {
        opacity: 0.1;
    }

    20% {
        opacity: 1;
    }

    25% {
        opacity: 0.3;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    72% {
        opacity: 0.2;
    }

    77% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.9;
    }
}

@keyframes border-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    4% {
        opacity: 0.1;
    }

    8% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .glowing-btn {
        font-size: 1em;
        letter-spacing: 1em;

    }
}
